.movie__poster {
  position: relative;

  &_image {
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;

    @media only screen and (max-width: 900px) {
      width: 0;
    }
  }
}
