$primary-bg-color: #060d17;

$input-bg-color: #10161d;

$primary-text-color: #fff;
$second-text-color: #b9bdcc;

$icon-primary-color: #666666;
$icon-second-color: #10161d;

$button-bg-color: #1c252f;
